@model NorthwindProject.Models.Customers

@{
    ViewData["Title"] = "Customer Orders";
}
<a onclick="history.go(-1); return false;" href="#">Back to Customer List</a>

<br />
<br />

<h1>Customer Information</h1>
<br />
<h2>@Model.CompanyName</h2>