@model NorthwindProject.Views.ViewModels.CustomerOrderData

@{
    ViewData["Title"] = "Customer Orders";
}
<a onclick="history.go(-1); return false;" href="#">Back to Customer List</a>

<br />
<br />

<h1>Customer Information</h1>
<h2>@Model.CustomerInfo?.CompanyName</h2>

@foreach (var item in Model.Order)
{
    <p>@Model.Order</p>
}