@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Northwind Project - Assignment 1</h1>
    <p>Welcome to Northwind! To see the list of employees, please visit the Employees page.<br />To see a list of customers, please visit the Customers page.</p>
</div>
